.navbar{
    background:transparent;
    width:100%;
    height:100px;
    position: absolute;
    color:blue;
    z-index: 16;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar_content{
    width:100%;
    height:100%;
    padding: 0% 15% 0% 15%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_image_wrapper{
    position:relative;
    display:block;
    height:100%;
    width:10rem;
    overflow: visible;
    z-index: 15;


}
.navbar_image_wrapper > *{
    position:relative;
object-fit: cover;
height: auto;
width: auto;
overflow: visible;
 

}

.menu_parent{
    margin-top:5%;
    display: flex;
    height: 100%;
    width:90px;
    align-items: center;
    flex-direction: column;
    gap:15px
}

.menu_parent li{
    background-color: white;
    color:white;
    height:2px;
    width:2rem;
    transition: all.4s ease;

}

.top_bar{
    position: absolute;
    
 
    height:5px;
    transform: rotate(0);
}
.mid_bar{
    position: absolute;
    opacity: 1;
    height:5px;
    
    transform: rotate(0deg);
}

.bottom_bar{
    margin-top:15px;
    position: absolute; 
    transform: rotate(0);

}

.top_bar_active{
    position: absolute;
    
 
    
    transform: rotate(45deg);
}
.mid_bar_active{
    position: absolute;

    opacity: 0;
    
    transform: rotate(-45deg);
}

.bottom_bar_active{
    position: absolute; 
    transform: rotate(-45deg);
}
